:root {
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-navbar-background-color: var(--ifm-color-primary);
  --ifm-navbar-link-color: hsla(0, 0%, 100%, 0.8);
  --ifm-navbar-link-hover-color: white;
  --ifm-menu-color: hsla(0, 0%, 100%, 0.8);
}
