.logo {
  padding: 15px;
}

.image {
  max-height: 110px;
  width: 110px;
  padding: 2px;
}

[data-theme="dark"] .image {
  background-color: white;
  -webkit-box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.5);
}
